name: CD

on:
  workflow_dispatch:
    inputs:
      action:
        description: "What do you want to do?"
        required: true
        type: choice
        options:
          - apply
          - destroy
      image_tag:
        description: "Docker image tag to deploy"
        required: true

jobs:
  terraform:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform init
        working-directory: Terraform
        run: terraform init

      - name: Debug Image Configuration
        run: |
          echo "Image tag input: '${{ github.event.inputs.image_tag }}'"
          echo "Full image URL: '${{ secrets.ECR_REGISTRY }}/ecs-threat-model-app:${{ github.event.inputs.image_tag }}'"

      - name: Terraform Apply
        working-directory: Terraform
        if: github.event.inputs.action == 'apply'
        run: terraform apply -var="container_image=${{ secrets.ECR_REGISTRY }}/ecs-threat-model-app:${{ github.event.inputs.image_tag }}" -auto-approve -lock=false

      - name: Terraform Destroy
        working-directory: Terraform
        if: github.event.inputs.action == 'destroy'
        run: terraform destroy -auto-approve -lock=false